<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <link
      rel="shortcut icon"
      href="https://d2ndnbzl6dhb4z.cloudfront.net/MySQL_Speaker_Logo.png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="視覺化操作 MySQL 資料" />
    <title>MySQL Speaker</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link href="/css/indexOutput.css" rel="stylesheet" />
  </head>
  <body class="bg-orange-100 min-h-screen flex flex-col">
    <div class="flex flex-col flex-grow">
      <div id="app"></div>
      <div class="flex-grow flex flex-col justify-center items-center mt-16">
        <div class="bg-white p-4 m-4">
          <div class="p-4">
            <div class="text-xl font-bold text-center mb-3">測試用帳號密碼</div>
            <div class="w-[570px] p-2 rounded border-2 border-neutral-300">
              <ul class="list-disc pl-5">
                <li>帳號: test111@test.com</li>
                <li>密碼: test</li>
              </ul>
              <hr class="mt-2 mb-2" />
              <ul class="list-disc pl-5">
                <li>帳號: test222@test.com</li>
                <li>密碼: test</li>
              </ul>
              <hr class="mt-2 mb-2" />
              <ul class="list-disc pl-5">
                <li>測試群組邀請碼: 7135535744591859712</li>
              </ul>
            </div>
          </div>
          <div class="p-4">
            <div class="flex flex-col max-w-xl">
              <div class="text-xl font-bold text-center mb-3">功能說明</div>
              <ol class="list-decimal pl-5 mb-8">
                <li>登入<span class="font-bold">外部</span> MySQL 資料庫</li>
                <ul class="list-disc pl-5 mb-4">
                  <li class="p-0.5">此網站可以登入非本網站的 MySQL 資料庫。</li>
                  <li class="p-0.5">
                    若要連接到外部資料庫，請先確定該資料庫相關的設定：
                    <ul class="list-decimal pl-5">
                      <li>確認 bind-address 參數是否開放外部 IP 訪問。</li>
                      <li>確認防火牆規則是否開放 TCP MySQL 預設端口 3306。</li>
                      <li>確認 MySQL 使用者權限，該使用者是否允許遠端訪問。</li>
                    </ul>
                  </li>
                  <li class="p-0.5">
                    若以次級使用者登入部分功能可能會無法使用，此處牽涉到權限問題。
                  </li>
                  <li class="p-0.5">
                    以此登入方式連線，歷史紀錄會預設關閉(前端沒輸出、後端不紀錄)。
                  </li>
                </ul>

                <li>登入<span class="font-bold">內部</span> MySQL 資料庫</li>
                <ul class="list-disc p-1 pl-5">
                  <li class="p-0.5">登入本網站的 MySQL 資料庫。</li>
                  <li class="p-0.5">
                    權限控制系統是殖生在 MySQL 權限控制系統上。
                  </li>
                  <li class="p-0.5">
                    由於使用的是同一個 MySQL Database
                    命名空間，所以有可能會發生想創建的 Database 已存在的問題。
                  </li>
                  <li class="p-0.5">
                    可以透過邀請碼創建帳號，多人擁有同一群 Database 的編輯權限。
                  </li>
                  <li class="p-0.5">可以即時看到他人的操作紀錄。</li>
                  <li class="p-0.5">
                    以此登入方式連線，歷史紀錄會依據群組分類讀取。
                  </li>
                </ul>
              </ol>
              <div class="text-xl font-bold text-center mb-3">畫面功能說明</div>
              <img
                class="border-2 rounded border-neutral-300 mt-4 max-w-xl mb-8"
                src="https://d2ndnbzl6dhb4z.cloudfront.net/description1.png"
                alt="畫面說明 1"
              />
              <img
                class="border-2 rounded border-neutral-300 mt-4 max-w-xl mb-8"
                src="https://d2ndnbzl6dhb4z.cloudfront.net/description2.png"
                alt="畫面說明 2"
              />
              <div class="text-xl font-bold text-center mb-3">
                簡易操作流程展示
              </div>
              <img
                class="border-2 rounded border-neutral-300 mt-4 max-w-xl mb-8"
                src="https://d2ndnbzl6dhb4z.cloudfront.net/mysqlSpeaker_introduction.gif"
                alt="簡易操作圖示"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
    <script src="/js/index.js"></script>
  </body>
</html>
