<footer
  class="h-24 flex flex-col justify-center items-center bg-blue-500 text-white"
>
  <div class="font-bold text-sm">COPYRIGHT © 2023 MySQL Speaker</div>
  <div class="font-bold text-sm">聯絡信箱： t1375844@gmail.com</div>
</footer>
